.nav-bar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #D2D6DF;
  margin-bottom: 10px;
}

header li a {
  border-right: 1px solid #000;
  padding: 6px;
}

header li:last-child a {
  border:none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.link {
  padding: 8px;
}

.logo {
  color: #092a35;
  font-family: 'Monoton';
  font-weight: 900;
  font-weight: bold;
}

#sign-up-link, #create-event-link, #login-link {
  color: rgba(22, 18, 18, 0.774);
}

@media only screen and (max-width: 400px) {
  header li a {
    border: none;
  }
  #myTopnav a {
    float: right;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
}