.search-box-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0 , 0, .25);
  background: linear-gradient( rgba(255, 255, 255, 0.9) 0%, white 25%);
  background-color: #0e3150;
  border-radius: 4px;
  width: 75%;
  height: 40px;
  margin: 0 auto;
}

.searchbox input {
 
}

h2 {
  text-align: center;
  font-size: 35px;
  color: #092a35;
}

.search-box-header {
  display: block;
  border: 2px solid #D2D6DF;
  width: 75%;
  margin: 5px auto;
  padding: 10px 0;
}

#event-input {
  font-size: 18px;
  width: 75%;
  height: 100%;
  padding: 0 10px;
}

#event-submit {
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  background-color: #0e3150;
  appearance: none;
  width: 25%;
  border: 0;
  height: 100%;
  /* padding: 15px; */
}
.top-images{
  display: block;
  height: 400px;
  width: 100%;
}

form.searchbox {
  align-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  }

  @media only screen and (max-width: 400px) {
    .search-box-container {
      width: 300px;
    }
    .search-box-header {
      width: 400px;
    }
  }