.sign-up-form-container {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.sign-up-header {
  color: black;
}

.sign-up-button {
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  background-color: #0e3150;
  appearance: none;
  margin-top: 20px;
  width: 100%;
  border: 0;
  height: 100%;
}

.sign-up-container {
  border: 1px solid grey;
  width: 75%;
  margin: 100px auto;
  padding: 20px 40px;
  border-radius: 5%;
}

#user, #password, #firstname, #lastname {
  border-radius: 3px;
  vertical-align: middle;
  width: 100%;
  padding: 9px 12px;
  border: 1px #D2D6DF solid;
  background: #fff;
  color: #45494E;
  font-size: 12px;
  line-height: 18px;
  font-weight: 200;
  letter-spacing: .5px;
}

@media only screen and (max-width: 400px) {
  .sign-up-container {
    width: 350px;
  }

  .sign-up-form-container {
    width: 250px;
  }
}